/* 전체 높이 설정 */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* 네비게이션 바 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* 로고 이미지 크기 조정 */
.navbar .logo {
    height: 40px; /* 원하는 높이로 설정 */
    width: auto; /* 비율을 유지하면서 너비를 자동 조정 */
}

/* 제목 스타일 */
.navbar h1 {
    margin: 0; /* 제목의 기본 마진 제거 */
    font-size: 1.5rem;
    color: white; /* 글씨색을 흰색으로 유지 */
    flex-grow: 1; /* 제목이 남은 공간을 차지하도록 설정 */
    text-align: center; /* 중앙 정렬 */
}

/* 네비게이션 링크 */
.nav-links {
    margin-left: auto; /* 로고와 링크 사이에 여백 추가 */
    margin-right: 60px; /* 오른쪽 여백 조정 */
    display: flex;
    align-items: center;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* 컨텐츠 래퍼 */
.content-wrapper {
    flex: 1;
    display: flex;
    padding: 70px 20px 20px 20px; /* 상단에 여유 공간을 추가하여 navbar 아래로 콘텐츠를 이동 */
}

/* 좌측 사이드바 */
.left-sidebar {
    width: 20%;
    /* 추가적인 확장을 위한 공간 */
}

/* 메인 컨텐츠 영역 */
.content {
    width: 60%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* 블로그 포스트 스타일 */
.blog-post h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.blog-post p {
    line-height: 1.6;
    font-size: 1.1rem;
}

/* 우측 사이드바 */
.right-sidebar {
    width: 20%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 상단에 위치하도록 설정 */
}

/* 프로필 영역 */
.right-sidebar .profile {
    background: rgba(0, 0, 0, 0.6); /* 검은색 반투명 레이어 */
    padding: 20px;
    border-radius: 8px;
    position: relative;
    margin-top: 20px; /* 상단 여백 조정 */
    z-index: 1;
}

.right-sidebar .profile p {
    margin: 0;
}

/* 푸터 */
.footer {
    flex-shrink: 0;  /* 위로 밀려 올라가지 않도록 설정 */
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #9fa2a5;
    width: 100%;
}
